<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/img/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png" />

<meta property="og:site_name" content="{{ site.title }}"/>

{% assign imgurl = "http://onehundredwords.com/f/" %}
{% assign mp3url = "http://onehundredwords.com/f/" %}

{% if page.title %}<meta property="og:title" content="{{ page.title }}"/>
<meta name="twitter:title" content="{{ page.title }}">{% endif %}
<meta name="twitter:url" content="http://angrylittletree.com{{ page.url }}">
<meta name="og:url" content="http://onehundredwords.com{{ page.url }}">
<meta name="twitter:creator" content="@eaton">
<meta property="twitter:account_id" content="2582861" />

{% case page.layout %}
{% when "words" %}
<meta name="twitter:card" content="summary">
<meta property="og:image" content="http://onehundredwords.com/img/apple-touch-icon-114x114.png"/>
<meta property="og:type" content="blog"/>
<meta name="og:url" content="http://onehundredwords.com{{ page.url }}">
{% if page.summary %}<meta property="og:description" content="{{ page.summary }}"/>{% endif %}

{% if page.summary %}<meta name="twitter:description" content="{{ page.summary }}">{% endif %}
{% when "sounds" %}
<meta name="twitter:card" content="summary">
<meta property="og:image" content="http://onehundredwords.com/img/apple-touch-icon-114x114.png"/>
<meta property="og:type" content="blog"/>
{% if page.summary %}<meta property="og:description" content="{{ content | strip_html | truncate: 50 }}"/>{% endif %}

{% if page.summary %}<meta name="twitter:description" content="{{ page.summary }}">{% endif %}
{% when "picture" %}
<meta name="twitter:card" content="photo">
<meta property="og:image" content="{{ imgurl }}"/>
<meta property="og:type" content="blog"/>
{% if page.summary %}<meta property="og:description" content="{{ page.summary }}"/>{% endif %}

<meta name="twitter:image" content="{{ imgurl }}">
{% if page.summary %}<meta name="twitter:description" content="{{ page.content | strip_html }}">{% endif %}
{% else %}
<meta name="twitter:card" content="summary">
<meta property="og:image" content="http://onehundredwords.com/img/apple-touch-icon-114x114.png"/>
<meta property="og:type" content="blog"/>
{% if page.summary %}<meta property="og:description" content="{{ page.summary }}"/>{% endif %}

{% if page.summary %}<meta name="twitter:description" content="{{ page.summary }}">{% endif %}
{% endcase %}

{% if site.google_analytics %}
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', '{{ site.google_analytics }}']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
{% endif %}
{% if site.typekit %}
<script type="text/javascript" src="//use.typekit.net/{{ site.typekit }}.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endif %}
