---
# title: 
layout: none
---
<!DOCTYPE html{% if page.citations %} xmlns:cito="http://purl.org/spar/cito/"{% endif %}>
<!--[if IE 7]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="en"><![endif]-->
<!--[if !IE]><html lang="en-US"><![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>{{ site.title }}{% if page.title %}: {{ page.title }}{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/screen.css" type="text/css" rel="stylesheet">

{% include meta.html %}

<script type="text/javascript">fitText(document.getElementById('site-title'), 1)</script>
</head>

<body>
<h1 id="site-title"><a href="/">One Hundred Words</a></h1>

{{ content }}

</body>
</html>